<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Getter</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ favicon_url }}">
</head>
<body>
    <a href="/ordernumber" style="position: absolute;"><button>Bestellungen</button></a>
    <h1>Retouren</h1>
    <div style="
        display: flex;
        align-items: center;
        justify-content: center;
    ">
       <div id="retoure-container">

       </div>
    </div>
    <script src="/static/get_return.js"></script>
</body>
</html>